.section {
    background-color: #fff;
    padding: 1%;
    margin-bottom: 10%;
    border-radius: 5px;
}
#header img {
    position: absolute;
    margin-top: 1%;
    left: 3%;
    border-radius: 3px;
}

#logo_title{
    position: absolute;
    margin-left: 12%;
    font-size: 20px;
    margin-top: 1%;
    text-align:center;
    color:#000;
    font-family: "Century Gothic";
}

#locale_changer {
    position: absolute;
    left: 58%;
    top: 2%;
}

#greetings_title {
    position: absolute;
    left: 62%;
    font-size: 15px;
    margin-top: 1%;
    text-align:center;
    font-family: Helvetica;
}

#btn {
    position: relative;
    background-size: cover;
    margin-top: 0.5%;
    left: 48%;
    margin-left: 1%;
    margin-right: 1%;
    height: 5%;
    width: auto;
    font-family: "Century Gothic";
    border-radius: 3px;
}
#btn1 {
    position: relative;
    margin-top: 0.5%;
    left: 46.5%;
    margin-right: 12.5%;
    margin-left: 1%;
    height: 5%;
    width: auto;
    font-family: "Century Gothic";
    border-radius: 3px;
}

#btn4 {
    position: relative;
    margin-top: 0.5%;
    left: 44.5%;
    margin-right: 1%;
    margin-left: 1%;
    height: 5%;
    width: auto;
    font-family: "Century Gothic";
    border-radius: 3px;
}

.value_img {
    background-image: url("../pics/image3.jpg");
    background-size: cover;
    margin: auto;
    width: 95%;
    height: 95%;
    margin-top: 0.5%;
}

.body_lines {
    position: absolute;
    top: 60%;
    width: 95%;
}

#main_title{
    position: absolute;
    left: 20%;
    bottom: 45%;
    color: #EEEEEE;
    font-family: Impact;
}
.panel{
    position: relative;
    left: 70%;
    width: 21%;
    height: 53%;
    top: 13%;
}

#panel-cabinet {
    width: 25%;
}

#panel-title {
    color: #78797A;
    text-align: center;
    font-family: "Verdana";
}

#waterType {
    position: relative;
    background-color: #428BCA;
    color: #fff;
    border-radius: 2px;
}

#bottleSize {
    position: relative;
    margin-top: 2%;
    background-color: #428BCA;
    color: #fff;
    border-radius: 2px;
}

#bs {
    position: relative;
    margin-top: 7%;
    margin-bottom: 7%;
}

.form-inline {
    position: relative;
}

#input {
    width: 39%;
    float: left;
    text-align: center;
    border-radius: 2px;
}

#minus {
    background-color: #428BCA;
    width: 30%;
    float: left;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}

#plus {
    background-color: #428BCA;
    width: 30%;
    float: left;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}

#btn2 {
    position: relative;
    width: 100%;
    font-family: "Verdana";
    font-size: medium;
    color: #fff;
    margin-top: 9%;
    background-color: #71D677;
    border-radius: 2px;
}

#btn3 {
    position: relative;
    width: 100%;
    font-family: "Verdana";
    font-size: medium;
    color: #fff;
    margin-top: 9%;
    background-color: #428BCA;
    border-radius: 2px;
}

#order_content {
    position: relative;
    top: 17%;
    width: 60%;
    left: 20%;
}

#footer {
    color: #fff;
    background-color: #337ab7;
    font-family: "Century Gothic";
    margin: auto;
    margin-bottom: 1%;
    width: 95%;
    height: 9%;
}

